# Web Server
Flask
gunicorn

# Reddit API
praw

# Data & Analysis
pandas
nltk
yfinance

# APIs & Networking
requests
alpha-vantage
finnhub-python

# Image Processing (OCR)
easyocr
opencv-python-headless

# --- PyTorch CPU-only versions for Heroku ---
--find-links https://download.pytorch.org/whl/cpu/torch_stable.html
torch
torchvision